.testimonials {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
  align-items: center;
}

.left-t {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: 2rem;
  text-transform: uppercase;
  color: white;
}

.left-t > :nth-child(1) {
  color: var(--blue);
  font-weight: bold;
}

.left-t > :nth-child(2),
.left-t > :nth-child(3) {
  font-weight: bold;
  font-size: 3rem;
}

.left-t > :nth-child(4) {
  text-transform: none;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 30px;
}

.right-t {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-t > img {
  width: 17rem;
  height: 20rem;
  object-fit: cover;
  z-index: 2;
  border-radius: 10px;
}

.right-t > :nth-child(1),
.right-t > :nth-child(2) {
  position: absolute;
  width: 17rem;
  height: 20rem;
  background-color: transparent;
  border-radius: 10px;
}

.right-t > :nth-child(1) {
  border: 2px solid var(--blue); /* 🧡 On brand */
  right: 9rem;
  top: 1rem;
  z-index: 0;
}

.right-t > :nth-child(2) {
  background: var(--planCard);
  right: 7rem;
  top: 3rem;
  z-index: 1;
}

.arrows {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.arrows > img {
  width: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.arrows > img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .testimonials {
    flex-direction: column;
  }
  .left-t > :nth-child(2),
  .left-t > :nth-child(3) {
    font-size: 2rem;
    text-align: center;
  }
  .right-t {
    position: relative;
  }
  .right-t > :nth-child(1),
  .right-t > :nth-child(2) {
    display: none;
  }
  .right-t > img {
    position: relative;
    top: 0;
    right: 0;
    width: 15rem;
    height: auto;
  }
  .arrows {
    justify-content: center;
  }
}
